@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
    transition: all .3s ease-out;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

a{
    cursor: pointer;
}

body{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3rem;
}

header{
    width: 100%;
    background-color: rgb(255, 136, 136);
    display: flex;
}

.logo{
    height: 128px;
    margin-left: 1rem;
}

.logoText{
 margin-top: 50px;
 font-size: 1.3rem;
 font-weight: bold;
 color: black;
}

.navbar{
    width: 100%;
    background-color: rgb(255, 136, 136);
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: .2rem 16rem;
    background-color: red;
    border-radius: .5rem;
}

.navbar a:hover{
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    background-color:rgb(255, 136, 136);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer a{
    padding: 1rem;
}

a:hover{
    color: white;
}

article{
    margin-top: 2rem;
    float: right;
    width: 75%;
    margin-bottom: 2rem;
}

aside{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: rgb(255, 190, 190);
    float: left;
    width: 20%;
    border: solid 2px red;
    text-align: center;
    min-height: 17rem;
}

aside a{
    font-size: 1.3rem;
    margin-top: 2rem;
}

.listContainer, .imgContainer{
    background-color: rgb(255, 190, 190);
    border: solid 2px red;
    margin-bottom: 1.5rem;
}

.listContainer h2, .imgContainer h2{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

.listContainer ul li, .imgContainer ul li{
    font-size: 1.3rem;
    margin: 1rem;
}

.imgContainer img{
    height: 512px;
    border: black solid 1px;
}

.imgContainer ul li{
    display: flex;
    justify-content: center;
}

