/*Imported Nunito font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

/*Css reset*/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
/*added transition time so hover effects would look better*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
    transition: all .3s ease-out;
  }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/*added back cursor point opon hovering mouse on links within <a> tag*/
a{
    cursor: pointer;
}

/*applied imported font to body*/
body{
    font-family: 'Nunito', sans-serif;
}

/*applied header bg color, extented header to 100% and added display flex to arrange items within header in a single line*/
header{
    width: 100%;
    background-color: rgb(255, 136, 136);
    display: flex;
}

/*resized logo and gave it a margin left for extra distance between the logo and the side of the site*/
.logo{
    height: 128px;
    margin-left: 1rem;
}

/*added font size and margin so the text would neatly sit next to the middle of the logo, changed font weight so the text would stand out more*/
.logoText{
 margin-top: 50px;
 font-size: 1.3rem;
 font-weight: bold;
}

/*used display flex and justify-content space around to evenly spread out the buttons, some visual stuff*/
.navbar{
    display: flex;
    width: 100%;
    background-color: rgb(255, 136, 136);
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    justify-content: space-around;
}

/*used padding left and right to extend the pressable area of the link and used border radius to round out the edges of the buttons*/
.navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: .2rem 12rem;
    background-color: red;
    border-radius: .5rem;
}

/*styling for the active page button*/
.navbar #active{
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: .2rem 12rem;
    background-color: darkred;
    border-radius: .5rem;
    color: white;
}

/*used hover to give some feedback upon putting your mouse on the button*/
.navbar a:hover:not(#active){
    color: white;
    background-color: darkred;
}

/*used flex to center the items and used positon fixed to lock the footer on the screen to which i added bottom 0 to place it on the bottom of the screen as the footer should be*/
footer{
    display: flex;
    justify-content: center;
    background-color:rgb(255, 136, 136);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer a{
    padding: 1rem;
}

a:hover{
    color: white;
    text-decoration: none;
}

/*used float right since i put aside on the left of the screen*/
article{
    margin-top: 2rem;
    float: right;
    width: 75%;
    margin-bottom: 2rem;
}

aside{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: rgb(255, 190, 190);
    float: left;
    width: 20%;
    border: solid 2px red;
    text-align: center;
    min-height: 17rem;
}

/*added underline to the text so the user can more easily understand that those are links*/
aside a{
    font-size: 1.3rem;
    margin-top: 2rem;
    text-decoration: underline;
}

.listContainer, .imgContainer{
    background-color: rgb(255, 190, 190);
    border: solid 2px red;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

.listContainer h2, .imgContainer h2{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

.listContainer ul li, .imgContainer ul li{
    font-size: 1.3rem;
    margin: 1rem;
}

.imgContainer img{
    height: 512px;
    border: black solid 1px;
}

.imgContainer ul li{
    display: flex;
    justify-content: center;
}

.about{
    background-color: rgb(255, 190, 190);
    border: solid 2px red;
    width: 70%;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.about article h1{
    font-size: 1.5rem;
}

.about article h1, .about section h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.about article{
    margin: 0;
}

.about article, .about section{
    width: 100%;
    padding: 1rem;
}

.about article p, .about section p{
    font-size: 1.2rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

#contact h1{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

#contact{
    background-color: rgb(255, 190, 190);
    border: solid 2px red;
    width: 70%;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.textfield{
    background-color: rgb(230, 230, 230);
    height: 2rem;
    text-align: center;
}

label{
    text-align: center;
    margin-top: 1rem;
}

#submit{
    background-color: white;
    border: solid black 2px;
    border-radius: 8px;
    width: 254px;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}

#submit:hover{
    background-color: rgb(255, 136, 136);
    color: white;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}


/*fixed navbar buttons leeaving the screen when device screen height is smaller than 768px*/
@media (max-height  : 768px){
    .navbar a{
        padding: .2rem 10rem;
        margin-left: 0rem;
    }
    
    .navbar #active{
        padding: .2rem 10rem;
        margin-left: 0rem;
    }
}
/*added support for 4:3 screens*/
@media (max-width: 1024px){
    .navbar a{
        padding: .2rem 7.5rem;
        margin-left: 0rem;
    }
    
    .navbar #active{
        padding: .2rem 7.5rem;
        margin-left: 0rem;
    }

    article{
        width: 70%;
    }
}